[submodule "imagetragick-rails"]
	path = imagetragick-rails
	url = https://github.com/gchan/imagetragick-rails.git
[submodule "ruby-httpoxy"]
	path = ruby-httpoxy
	url = https://github.com/gchan/ruby-httpoxy.git
[submodule "auto-letsencrypt"]
	path = auto-letsencrypt
	url = git://github.com/gchan/auto-letsencrypt
