[submodule "imagetragick-rails"]
	path = imagetragick-rails
	url = git@github.com:gchan/imagetragick-rails.git
[submodule "ruby-httpoxy"]
	path = ruby-httpoxy
	url = git@github.com:gchan/ruby-httpoxy.git
